@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.messenger {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 580px;
  color: #A4A4A4;
}

.messenger__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.messenger__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messenger__main {
  border-bottom: 1px solid #A4A4A4;
  border-top: 1px solid #A4A4A4;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.messenger__block {
  padding: 25px 15px 25px 25px;
}

.messenger__header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messenger h1 {
  font-family: Lato bold;
  font-size: 20px;
  color: #000;
}

.messenger h1:before {
  content: '#';
}

.people-counter {
  padding: 0px 20px 0px 20px;
}

.people-counter::before {
  color: #A4A4A4;
  padding: 0px 5px 0px 0px;
}

.notifications {
  padding: 0px 20px 0px 20px;
  font-size: 15px;
}

.notifications.active {
  position: relative;
}

.notifications.active:after {
  position: absolute;
  font-size: 12px;
  color: red;
  content: '●';
  top: 0%;
  left: 67%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notifications__element {
  display: block;
  padding: 10px 10px 10px 10px;
  background: #ebebeb;
}

.chat-settings .action-menu__body {
  left: 0;
}

.chat-settings__element {
  display: block;
  padding: 10px 10px 10px 10px;
  background: #ebebeb;
}

.chat-button {
  cursor: pointer;
}

.chat-button:hover {
  color: #000;
}

.favorites {
  color: #A4A4A4;
  padding: 0px 10px 0px 10px;
}

.favorites.active::before {
  color: #e7c300;
}

.chat {
  width: 100%;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0px 5px 0px 0px;
  scrollbar-width: thin;
  scrollbar-color: #0000002a transparent !important;
}

.chat::-webkit-scrollbar-thumb {
  border: 6px solid #0000002a !important;
}

.chat__body {
  padding: 20px 20px 20px 20px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.message__body {
  padding: 0px 0px 10px 10px;
}

.message__author-image img {
  border-radius: 6px;
}

.message__header {
  padding: 0px 0px 5px 0px;
}

.message__author-name {
  font-family: Lato bold;
}

.message__date {
  padding: 0px 0px 0px 7px;
  color: #A4A4A4;
}

.message__day-time {
  text-transform: uppercase;
  padding: 0px 0px 0px 3px;
  color: #A4A4A4;
}

.message__text {
  line-height: 1.5;
}

.message__text-for-the-user {
  color: #3577EF;
}

.message__image {
  position: relative;
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.message__image:hover .message__add-smiles-block {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.message__add-smiles-block {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 15;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.message__add-smiles-block span {
  display: inline-block;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
}

.message__add-smiles-block span:hover {
  background: #0000001c;
}

.message__image-smiles {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  z-index: 3;
  background: #fff;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.time-separator {
  position: relative;
  color: #8D8D8D;
  padding: 15px 0px 15px 0px;
}

.time-separator p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
  padding: 0px 15px 0px 15px;
}

.time-separator span {
  position: relative;
  display: block;
  z-index: 0;
  width: 100%;
  height: 2px;
  background: #dad8d8;
}

.action-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-block__files {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
  padding: 0 10px 0 0px;
}

.action-block__labled-input {
  display: none;
}

.action-block__micro {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
  padding: 0 10px 0 10px;
  color: #A4A4A4;
}

.action-block__message {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1000 - 320)));
  font-family: Lato;
  padding: 7px 5px 7px 10px;
  overflow: hidden;
}

.action-block__message:focus::-webkit-input-placeholder {
  opacity: 0;
}

.action-block__message:focus::-moz-placeholder {
  opacity: 0;
}

.action-block__message:focus:-ms-input-placeholder {
  opacity: 0;
}

.action-block__message:focus::-ms-input-placeholder {
  opacity: 0;
}

.action-block__message:focus::placeholder {
  opacity: 0;
}

.action-block__message::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__message::-moz-placeholder {
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__message:-ms-input-placeholder {
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__message::-ms-input-placeholder {
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__message::placeholder {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__submit {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-block__submit.unactive {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.action-block__submit::before {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
  color: #A4A4A4;
}

.action-block__emoji {
  background: url("../img/icons/emoji.png") no-repeat center/contain;
  display: block;
  width: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
  height: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
}

.action-block__emoji .action-grid__body {
  left: -65%;
}

.action-block__emoji span:hover {
  text-decoration: none;
}

.action-menu {
  position: relative;
}

.action-menu:hover .action-menu__body {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.action-menu__body {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  padding: 0px 0px 20px 0px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.action-menu__element {
  padding: 10px 5px 10px 5px;
  background: #ebebeb;
}

.action-menu__element * {
  cursor: pointer;
}

.action-menu__element:hover {
  text-decoration: underline;
}

.action-menu__reverse .action-menu__body {
  top: 50%;
  padding: 20px 0px 0px 0px;
}

.action-grid__wrapper {
  background: #ebebeb;
  display: grid;
  grid-template: 'em em em' 1fr 'em em em' 1fr / 1fr 1fr 1fr;
}

.action-grid__body {
  left: 0;
}

.action-grid__element {
  padding: 8px 8px 8px 8px;
}

.action-grid__element:hover {
  background: #ffffff67;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  height: 30px;
  border: 1px solid #A4A4A4;
  border-radius: 5px;
}

.searchbar * {
  height: 100%;
}

.searchbar__input {
  padding: 0px 0px 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #A4A4A4;
  width: calc(100px + (190 - 100) * ((100vw - 320px) / (1000 - 320)));
}

.searchbar__input::-webkit-input-placeholder {
  color: #A4A4A4;
}

.searchbar__input::-moz-placeholder {
  color: #A4A4A4;
}

.searchbar__input:-ms-input-placeholder {
  color: #A4A4A4;
}

.searchbar__input::-ms-input-placeholder {
  color: #A4A4A4;
}

.searchbar__input::placeholder {
  color: #A4A4A4;
}

.searchbar__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbar__submit:before {
  color: #A4A4A4;
}

.searchbar__submit:hover:before {
  color: #000;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: inline-block;
}

._icon-threadsIcon:before {
  content: "\e900";
}

._icon-usersIcon:before {
  content: "\e901";
}

._icon-settings:before {
  content: "\e902";
}

._icon-search:before {
  content: "\e903";
}

._icon-micro:before {
  content: "\e904";
}

._icon-notifications:before {
  content: "\e905";
}

._icon-favorites:before {
  content: "\e906";
}

._icon-createChat:before {
  content: "\e907";
}

._icon-closeProfile:before {
  content: "\e908";
}

._icon-attachFile:before {
  content: "\e909";
}

._icon-submit:before {
  content: "\e90a";
}

._icon-chat-settings:before {
  content: "\e90b";
}

body {
  height: 100%;
  color: #000;
  font-family: Lato;
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1000 - 320)));
  overflow: hidden;
}

body button {
  color: #fff;
}

.main {
  width: 100%;
  background: #fff;
}

.main__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.navigation {
  background: #25272A;
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  color: #B5B5B5;
}

.navigation button {
  color: #B5B5B5;
}

.navigation a {
  color: #b5b5b5;
}

.navigation__body {
  display: grid;
  grid-template: 'el' 1fr / 1fr 4fr;
  height: 100%;
}

.chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
  padding: 15px 0px 15px 0px;
  background: #000;
}

.chats__body {
  padding: 15px 15px 15px 15px;
}

.chats__chat-ref {
  padding: 15px 0px 15px 0px;
  cursor: pointer;
}

.chats__chat-ref:hover img {
  -webkit-box-shadow: 0 0 20px #9b9b9b94;
          box-shadow: 0 0 20px #9b9b9b94;
}

.chats__chat-ref img {
  width: 40px;
  height: 40px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  border-radius: 50%;
}

.chats__chat-ref.active {
  position: relative;
}

.chats__chat-ref.active::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -18px;
  content: '';
  width: 7px;
  height: 7px;
  background: gray;
  border-radius: 50%;
}

.chats__chat-ref.active img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.chats__add-chat {
  min-height: 41.5px;
  width: 41.5px;
  height: 41.5px;
  background: #292929;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chats__add-chat:hover {
  background: #bb2323;
}

.chats__add-chat:hover::before {
  color: #fff;
}

.chats__add-chat:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #c2c2c2;
}

.general-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #25272A;
  margin: 0px 10px 0px 0px;
}

.general-nav__body {
  padding: 35px 25px 10px 25px;
}

.general-nav__block {
  padding: 0px 0px 15px 0px;
}

.general-nav__block:last-child {
  padding-bottom: 0;
}

.general-nav__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.general-nav__title {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 15px 0px;
  color: #919191;
}

.general-nav__settings::before {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1000 - 320)));
}

.chat-users {
  position: absolute;
  display: inline-block;
  top: 150%;
  left: 0;
  background: #919191;
  color: #000;
  max-width: 100px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chat-users.show {
  overflow: auto;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.chat-users__show-button {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  color: #fff;
}

.chat-users__show-button.active:after {
  margin: 3px 0px 0px 7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.chat-users__show-button:after {
  content: '';
  display: inline-block;
  margin: 0px 0px 0px 10px;
  padding: 4px 4px 4px 4px;
  border-top: 2px solid #919191;
  border-right: 2px solid #919191;
  -webkit-transform: rotate(135deg) translate(0, 50%);
      -ms-transform: rotate(135deg) translate(0, 50%);
          transform: rotate(135deg) translate(0, 50%);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chat-users .chat-user {
  padding: 10px 10px 10px 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chat-users .chat-user:hover {
  background: #444444;
  color: #fff;
}

.threads-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1000 - 320)));
  margin: 15px 0px 15px 0px;
}

.threads-menu:hover::before {
  color: #fff;
}

.threads-menu::before {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 0px 10px 0px 0px;
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1000 - 320)));
}

.nav-list__elem a {
  display: block;
  padding: 10px 0px 10px 5%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-list__elem a:hover {
  color: #fff;
  background: #3f3f3f;
  border-radius: 5px;
}

.channels .channel a:before {
  content: '#';
  padding: 0px 5px 0px 0px;
}

.friends .friend {
  margin: 0px 0px 5px 0px;
}

.friends .friend:last-child {
  margin-bottom: 0;
}

.friends .friend a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  width: 100%;
}

.friends .friend span {
  padding: 0px 0px 0px 7px;
}

.friends .friend__image {
  width: 32px;
  height: 32px;
  margin: 0px 7px 0px 7px;
  border-radius: 6px;
}

.sidepanel {
  background: #c9cfd4;
}

.sidepanel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidepanel__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.profile {
  color: #5F6164;
}

.profile__body {
  padding: 20px 20px 20px 20px;
}

.profile__image {
  -o-object-fit: contain;
     object-fit: contain;
}

.profile__name {
  display: block;
  padding: 0px 0px 5px 0px;
  color: #000;
  font-family: Lato bold;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1000 - 320)));
}

.profile__status {
  display: block;
}

.profile__socials {
  padding: 10px 0px 10px 0px;
}

.profile__socials img {
  padding: 0px 3px 0px 3px;
}

.profile__actions {
  padding: 10px 0px 20px 0px;
}

.profile__info-block {
  padding: 0px 0px 10px 0px;
}

.profile__info-block:last-child {
  padding-bottom: 0;
}

.profile__info-type {
  display: inline-block;
  padding: 0px 0px 5px 0px;
}

.profile__info {
  color: #000;
}

.send-message-btn {
  background: #3577EF;
  border-radius: 5px;
  padding: 5px 40px 5px 40px;
}

.status-ball {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #666666;
  border-radius: 50%;
}

.status-ball.active {
  background: #70CC16;
}

.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ffffff3f transparent;
  /* for Chrome/Edge/Safari */
}

.scrollable::-webkit-scrollbar {
  height: auto;
  width: 7px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
  border: 6px solid #ffffff3f;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000046;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow-y: auto;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window__content {
  background: #000;
  text-align: center;
  color: #fff;
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }
}