$mainFontFamily: Lato
$mainFontColor: #000
$mainFontSize: 13
$background: #fff

@import "nullStyle"
@import "mixins"
@import "messenger"
@import "fonts"
@import "iconFonts"

body
    height: 100%
    color: $mainFontColor
    font-family: $mainFontFamily
    @include adaptive-property ('font-size',14, 12)

    overflow: hidden

    button
        color: #fff

.main
    width: 100%

    background: $background

    &__body
        flex: 1 0 100%
        height: 100vh
        display: flex
        background: $background

.navigation
    background: #25272A
    min-width: 350px
    width: 350px
    max-width: 350px

    color: #B5B5B5
    button
        color: #B5B5B5
    a
        color: #b5b5b5

    &__body
        display: grid
        grid-template: 'el' 1fr / 1fr 4fr
        height: 100%

.chats
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: space-between
    overflow-x: hidden

    padding: 15px 0px 15px 0px
    background: #000

    &__body
        padding: 15px 15px 15px 15px

    &__chat-ref
        padding: 15px 0px 15px 0px
        cursor: pointer

        &:hover
            img
                box-shadow: 0 0 20px #9b9b9b94

        img
            @include size (40px,40px)
            filter: brightness(80%)
            border-radius: 50%

        &.active
            position: relative
            &::before
                position: absolute
                top: 50%
                transform: translate(0,-50%)
                left: -18px
                content: ''
                width: 7px
                height: 7px

                background: gray
                border-radius: 50%
            img
                filter: brightness(100%)

    &__add-chat
        min-height: 41.5px
        @include size (41.5px,41.5px)
        background: #292929
        border-radius: 50%
        position: relative

        transition: all 0.2s ease
        &:hover
            background: #bb2323
            &::before
                color: #fff

        &:before
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            color: #c2c2c2

.general-nav
    flex: 1 0 auto
    background: #25272A
    margin: 0px 10px 0px 0px

    &__body
        padding: 35px 25px 10px 25px

    &__block
        padding: 0px 0px 15px 0px

        &:last-child
            padding-bottom: 0

    &__main-block
        display: flex
        justify-content: space-between
        align-items: flex-start

    &__title
        text-transform: uppercase
        display: flex
        justify-content: space-between
        margin: 0px 0px 15px 0px
        color: #919191

    &__settings
        &::before
            @include adaptive-property ('font-size',22, 18)

.chat-users
    position: absolute
    display: inline-block
    top: 150%
    left: 0
    background: #919191
    color: #000
    max-width: 100px

    overflow: hidden
    visibility: hidden
    opacity: 0
    pointer-events: none
    transition: all 0.2s ease

    &.show
        overflow: auto
        visibility: visible
        opacity: 1
        pointer-events: all

    &__show-button
        cursor: pointer
        position: relative
        font-size: 20px
        color: #fff

        &.active
            &:after
                margin: 3px 0px 0px 7px
                transform: rotate(-45deg)

        &:after
            content: ''
            display: inline-block
            margin: 0px 0px 0px 10px
            padding: 4px 4px 4px 4px

            border-top: 2px solid #919191
            border-right: 2px solid #919191
            transform: rotate(135deg) translate(0, 50%)

            transition: all 0.2s ease

    .chat-user
        padding: 10px 10px 10px 10px
        transition: all 0.2s ease

        &:hover
            background: #444444
            color: #fff

.threads-menu
    display: flex
    justify-content: center
    align-items: center

    @include adaptive-property ('font-size',14, 13)
    margin: 15px 0px 15px 0px

    &:hover
        &::before
            color: #fff

    &::before
        transition: all 0.1s ease
        padding: 0px 10px 0px 0px
        @include adaptive-property ('font-size',20, 18)

.nav-list

    &__elem
        a
            display: block
            padding: 10px 0px 10px 5%

            transition: all 0.1s ease
            &:hover
                color: #fff
                background: #3f3f3f
                border-radius: 5px

.channels

    .channel
        a
            &:before
                content: '#'
                padding: 0px 5px 0px 0px

.friends

    .friend
        margin: 0px 0px 5px 0px
        &:last-child
            margin-bottom: 0

        a
            display: flex
            align-items: center
            padding: 5px
            width: 100%

        span
            padding: 0px 0px 0px 7px

        &__image
            @include size (32px,32px)
            margin: 0px 7px 0px 7px
            border-radius: 6px

.sidepanel
    background: #c9cfd4

    &__body
        display: flex
        justify-content: center
        align-items: center

    &__list
        flex-flow: column nowrap

.profile
    color: #5F6164

    &__body
        padding: 20px 20px 20px 20px

    &__image
        object-fit: contain

    &__name
        display: block
        padding: 0px 0px 5px 0px
        color: #000
        font-family: Lato bold
        @include adaptive-property ('font-size',16, 14)

    &__status
        display: block

    &__socials
        padding: 10px 0px 10px 0px
        img
            padding: 0px 3px 0px 3px

    &__actions
        padding: 10px 0px 20px 0px

    &__multiple-actions

    &__info-block
        padding: 0px 0px 10px 0px
        &:last-child
            padding-bottom: 0

    &__info-type
        display: inline-block
        padding: 0px 0px 5px 0px

    &__info
        color: #000

.social

.send-message-btn
    background: #3577EF
    border-radius: 5px
    padding: 5px 40px 5px 40px

.status-ball
    display: inline-block
    @include size (6px,6px)
    background: #666666
    border-radius: 50%

    &.active
        background: #70CC16

.scrollable
    overflow-y: scroll

    scrollbar-width: thin
    scrollbar-color: #ffffff3f transparent

    /* for Chrome/Edge/Safari */
    &::-webkit-scrollbar
        height: auto
        width: 7px
    &::-webkit-scrollbar-track
        background: transparent
    &::-webkit-scrollbar-thumb
        background-color: transparent
        border-radius: 3px
        border: 6px solid #ffffff3f

.modal-window
    position: fixed
    z-index: 15
    top: 0
    left: 0
    background: #00000046
    @include size (100%,100%)

    overflow: hidden
    opacity: 0
    pointer-events: none
    transition: all 0.5s ease

    &.active
        overflow-y: auto
        opacity: 1
        pointer-events: all

    &__body
        display: flex
        height: 100%
        justify-content: center
        align-items: center

    &__content
        background: #000
        text-align: center
        color: #fff
